*{
    margin: o;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    background: black;
    color: white;
}
#header{
    width:100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
    

}
.container{
    padding: 10px 10%;
}
    
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 80px;  

}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{ 
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    position: relative;
}
nav ul li a:hover{
    color:red;
}
.detel{
    margin-left: 8%;
    margin-top: 15%;
}
 .detel h1{
    font-size: 50px;
    color: white
    margin-bottom: 20px;
 }   
span{
    color: red;
}
.detel p{
    color:white;
    line-height: 22px;
    }
.detel a{
    text-decoration: none;
    background-color: white;
    color: red;
    margin: 26px;
    padding: 10px 18px;
    border-radius: 10px;
    display: inline-block;
    font-weight: bold;
}







