/* default styles for all elements */
*{
    margin: o;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/*-----------smooth scrolling of the----------- */
html{
    scroll-behavior: smooth; 
}


body{
    background: black;
    color: white;

 /*-------------Header Section---------*/
}
#header{
    width:100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
    

}
.container{
    padding: 10px 10%;
}
 
/*---------nav bar styles---------*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*-------logo-------*/
.logo{
    width: 80px;  

/*-------nav list items-------*/  
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

/*---------Navigation Links-------*/
nav ul li a{ 
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    position: relative;
}

/* --------Highlight the navigation link on hover------- */
nav ul li a:hover{
    color:red;
}

/*----------Detel Section----------*/
.detel{
    margin-left: 8%;
    margin-top: 15%;
}
 .detel h1{
    font-size: 50px;
    color: white
    margin-bottom: 20px;
 }   
span{
    color: red;
}
.detel p{
    color:white;
    line-height: 22px;
    }
.detel a{
    text-decoration: none;
    background-color: white;
    color: red;
    margin: 26px;
    padding: 10px 18px;
    border-radius: 10px;
    display: inline-block;
    font-weight: bold;
}
/*------------about me section------*/
#about{
    color: white;
}
.row{
    display: flex;
    justify-content: space-between;
}
.about-col-1{
    color: red; 
    font-size: x-large;
    flex-basis: 35%;
}

.about-col-2{
    color: white;
    font-size: larger;
    flex-basis: 65%;
}
/*------------Skills section------*/
#Skills{
    color: white;
}
.row{
    display: flex;
    justify-content: space-between;
}
.skills-col-1{
    color: red; 
    font-size: x-large;
    flex-basis: 35%;
}

.skills-col-2{
    color: white;
    font-size: larger;
    flex-basis: 65%;
}

/*------------Projects section------*/
#Projects{
    color: white;
}
.row{
    display: flex;
    justify-content: space-between;
}
.projects-col-1{
    color: red; 
    font-size: x-large;
    flex-basis: 35%;
}

.projects-col-2{
    color: white;
    font-size: larger;
    flex-basis: 65%;
}

/*--------contact section-----------*/
.sub-title{
    color: red; 
    font-size: x-large;
}
.contact-left{
    flex-basis: 35%;

} 
.contact-right{
    flex-basis: 60%;
    
}
.contact-left p{
    margin-top: 30px;
}
.social-icons{
    margin-top: 30px;   
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: red;
    display: inline-block;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: white;
    padding: 15px;
    margin: 15px 0;
    color: red;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;

    #copyright {
        text-align: left;
    }
    
    .my copyright p {
        color:white;
    }
    
#msg{
    color: red;
    margin-top: -10px;
    display: block;
    font-size: medium;
}
/* --------Responsive design using media queries------------ */
@media (max-width: 768px) {
    nav ul {
        text-align: center;
    }
    
    nav li {
        display: block;
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    header {
        font-size: 24px;
        text-align: center;
    }
    
    nav li {
        margin: 0;
        font-display: block;
    }
}






