*{
    margin: o;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    background: black;
    color: white;
}
header {
    width: 100%;
    height: 100vh;
    background-image: url(C:\Users\Vk\Desktop\ALX PROJECTS\ALX-SE-PROJECT\alx_capstone_project\Personal Portifolio - Images\Victoria Kerubo - Profile Picture.jpg);
    background-size: cover;
    background-position: center;

}